.login {   
    content: center;
align-items: center;   
 text-align: left;
 margin:  269px 170px ;

}
.u_name{
    margin-right: 17px;
    font-size: 20px;
    margin-left: 12px;

}
.u_input{
    width: 45%;
    margin-right: 17px;
}

.l_button{
    margin: 1px 20px ;
}